.div-banner2 {

    background-image: url('../../assets/fonts/Splash.png');
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.div-banner2 h1{
    color: black;
    font-size: 5rem;
    font-family: monospace;
}
h1{
    margin-top: -13rem;
}
h2{
    font-size: 2rem;
    color: black;
    font-weight: 900;
    font-family: monospace;
    padding-top: 9rem;
    font-family: "Lato", sans-serif;
}
p{
    font-size: 1.2rem;
    color: black;
    max-width: 500px;
    font-weight: 500;
    margin-top: 3rem;
    font-family: "Lato", sans-serif;
    
}
.boton-banner2{
    border: 3px solid black;
    border-radius: 30px;
    width: 222px;
    height: 54px;
    display: flex;
    align-items: center;
    padding-left: 82px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10rem;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: "Lato", sans-serif;

    
    
}
.or-text {
    font-size: 1rem;
    color: black;
    display: flex;
    align-items: center;
    margin: 0 0.5rem; /* Ajusta el margen */
    padding-top: 1rem;
}

.or-text::before,
.or-text::after {
    content: "";
    width: 30px; /* Ancho fijo para las líneas */
    height: 1px;
    background: #777; /* Color oscuro */
    margin: 0 0.5rem; /* Espacio entre líneas y texto */
}
.boton2-banner2{
    background-color: #6342E8;
    color: white;
    border-radius: 30px;
    width: 222px;
    height: 54px;
    display: flex;
    align-items: center;
    padding-left: 77px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-family: "Lato", sans-serif;


}